<% include partials/header %>






    <div id="page-wrapper">

        <section id="header-main" class="row">
            <div class="col-md-12">


                <!-- DONUT CHART -->
                <div class="box box-sucess" style="height: auto; padding-bottom:10px">
                    <div class="box-header">
                        <h1 class="page-header" style="padding-bottom: 0px; margin: auto">Definições
                            <small>Alterar Aspectos do Workshop</small>
                        </h1>
                    </div>
                </div>



            </div>


        </section>




        <div id="divContent" class="row">

            <div class="col-md-6" style="padding-bottom: 100px">



                <!-- DONUT CHART -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <%= workshop[0].nome_workshop %>
                        </h3>

                        <div class="box-tools pull-right">

                            <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#nome-workshop-modal">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </div>
                    </div>
                    <div class="dayDiv" style="height: 33px ;margin-top: 10px;margin-left: 10px; padding-left: 4px; ">

                        <h4>Preço Por Dia:
                            <%= workshop[0].preco %>€
                                <a class="btn btn-box-tool">
                                    <i class="fa fa-pencil" data-toggle="modal" data-target="#preco-workshop-modal" aria-hidden="true"></i>
                                </a>
                        </h4>
                    </div>
                    <div class="dayDiv" style="height: 33px ;margin-top: 10px;margin-left: 10px; padding-left: 4px;  ">

                        <h4>Salário Predefinido Colaboradores:
                            <%= workshop[0].salario_predefinido %>€

                            <a class="btn btn-box-tool">


                                <i class="fa fa-pencil" data-toggle="modal" data-target="#salario-colab-modal" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>

                    <div class="dayDiv" style="height: 33px ;margin-top: 10px;margin-left: 10px; padding-left: 4px;  ">

                        <h4>Ocupação Máxima Diária:
                            <%= workshop[0].max_bilhetes_dia %> pessoas

                            <a class="btn btn-box-tool">


                                <i class="fa fa-pencil" data-toggle="modal" data-target="#max-bilhetes-modal" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <!-- /.box-body -->
                </div>


            </div>
            <!-- /.box -->
            <div class="col-md-6" style="padding-bottom: 100px">


                <!-- DONUT CHART -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dias do Wokshop</h3>

                        <a class="btn btn-box-tool pull-right" data-toggle="modal" data-target="#dia-modal">
                            <i class="fa fa-plus fa-md" aria-hidden="true"></i>
                        </a>
                    </div>

                    <% for (var d of numDias) { %>

                        <div class="dayDiv" style="height: 33px ;margin-top: 10px;margin-left: 10px; padding-left: 4px;background-color: rgb(162, 160, 160); width:125px; border-radius: 10px;  float: left; ">
                            <h4>
                                <%= d.data.toLocaleDateString() %>

                                    <a class="btn btn-box-tool" onclick="deleteDia('<%= d.data.toLocaleDateString() %>')">
                                        <i class="fa fa-times fa-md" style="color: black;" aria-hidden="true"></i>
                                    </a>
                            </h4>
                        </div>

                        <%   } %>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->









        </div>

        <script type="text/javascript">
            function alterDia(col) {

                window.location = col;

            }

            function deleteDia(col) {
                
                
                
             var f =   '/workshop/';
           var  d = '/delete';
	
				 var c  =  col.split('/') ;
									
                            console.log(c);
            
					
			var data = parseInt(c[2]) + '-'+ parseInt(c[0])  + '-'+ parseInt(c[1]);
									
		var total = f + data + d;
									
             
             send(total);
            }
            
            function send(col) {
                
                    if (confirm('Quer mesmo apagar este Dia?')) {
                    window.location = col;
                }
                
            }

       
        </script>
        <% include partials/loginWorkshop %>
















    </div>
    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->




















































    <% include partials/footer %>